<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Formulario</title>
</head>
<body>
    
        <nav class="container-nav">
            <h1 style="margin-right: 700px; font-size: 40px;">Auto Car</h1>
            <a href="/api/cadastro"><li>Cadastrar</li></a>
            <a href="/api/login"><li>Sair</li></a>
        </nav>
    

       
            <form method="post" action="/api/acessar" class="container-login">

                <img src="https://thumbs.dreamstime.com/b/sala-de-exposi%C3%A7%C3%B5es-do-carro-venda-da-compra-ou-carro-alugado-o-homem-do-vendedor-cede-80898097.jpg" alt="Imagem cliente com carro">

                <label>Nome:</label>
                <input type="text" name="nome">
                <label>Senha:</label>
                <input type="text" name="senha">
                

                <button type="submit">Acessar</button>
            </form>
        
</body>
</html>